
.page {
  @include flex(column, flex-begin, flex-begin);

  margin-top: 1rem;
  width: 100%;

  @media (max-width: $sm) {
    flex-direction: column;
    margin-top: 2rem;
  }

  .content {
    background-color: lighten($black, 10%);
    flex: 1;
    padding: 1rem;
  }
}
