<div class="footer">
  <div class="feed">
    <!-- <a href="{{ "/feed.xml" | relative_url }}" target="_blank">
      <img src="{{ "/assets/img/rss.png" | relative_url }}" />
    </a> -->
  </div>
  <div class="copy">
    &copy; {{ site.year }} {{ site.author.name }}<br />
    <i>ALL RIGHTS SERVED</i>
  </div>
  <div class="social">
    <!-- <a href="https://github.com/dustinengle" target="_blank">
      <img src="{{ "/assets/img/github.svg" | relative_url }}" />
    </a>
    <a href="https://www.linkedin.com/in/dustin-engle3" target="_blank">
      <img src="{{ "/assets/img/linkedin.svg" | relative_url }}" />
    </a> -->
  </div>
  <script type="text/javascript" async
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
  <script type="text/javascript" async
    src="{{ "/assets/js/tabs.js" | relative_url }}">
  </script>
</div>
