
html, body {
  background-color: $black;
  color: $white;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  width: 100vw;
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    color: $secondary;
  }
}

h {
  &1, &2, &3, &4, &5, &6 {
    margin: 0;
    padding: 0;
  }

  &1 {
    color: $red;
    font-size: 2rem;
    margin: 2rem 0;
  }
  &2 {
    color: $orange;
    font-size: 1.75rem;
    margin: 1rem 0 1rem 0;
  }
  &3 {
    color: $yellow;
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }
  &4 {
    font-size: 1.25rem;
  }
  &5 {
    font-size: 1rem;
  }
  &6 {
    font-size: 0.85rem;
  }
}

p {
  margin: 0 0 1rem 0;
}
