
$black: #111111;
$blue: #264653;
$green: #2a9d8f;
$orange: #f4a261;
$red: #e76f51;
$white: #efefef;
$yellow: #e9c46a;

$primary: $green;
$secondary: $blue;

$sm: 800px;
$md: 1024px;
$lg: 1200px;

$body-height: 100%;
$footer-height: 10vh;
$menu-height: 5vh;
