---
layout: page
title: Mathematics
---

<h2>Links</h2>
<ul>
  <li>
    <a href="https://www.khanacademy.org/math">https://www.khanacademy.org/math</a>
  </li>
  <li>
    <a href="https://thebrightsideofmathematics.com/startpage">https://thebrightsideofmathematics.com/startpage</a></li>
  <li>
    <a href="https://www.mathsisfun.com/links/index-curriculum.html">https://www.mathsisfun.com/links/index-curriculum.html</a>
  </li>
  <li>
    <a href="https://betterexplained.com">https://betterexplained.com</a></li>
  <li>
    <a href="https://www.purplemath.com">https://www.purplemath.com</a></li>
</ul>

<div class="cells">
  {% for category in site.data.math.categories %}
  <div class="cell third">
    <h2>
      {% assign words = category | split: '-' %}
      {% for word in words %}
        {{ word | capitalize }}
      {% endfor %}
    </h2>
    {% assign posts = site.math | where_exp: 'post', 'post.category == category' %}
    {% if posts.size > 0 %}
      <ul>
        {% for post in posts %}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    {% else %}
      Coming soon...
    {% endif %}
  </div>
  {% endfor %}
</div>
